{% extends "base.html" %}
{% block content %}

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="container title-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="brand-heading">Re-connect</h1>
					<a href="#home" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- About Section -->
<section id="home" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>About Re-connect</h2>
			<p>
				<b>Re-Connect creates an ecosystem of trust where we aggregate resources and form a support network for survivors.<br><br></b>
				<b>Connect the community and resources</b><br>We bring the resources in the community together to address the immediate and long-term housing needs of the survivors and connect them in a safe and supportive environment. Our ultimate goal is to put the power back in the hands of the survivors so they know where to go to ask for help and when they need them<br><br>
				<b>Connect the dots</b><br>We collect data and generate insights to educate the public and bring visibility to human trafficking issues and survivor needs
			</p>
		</div>
	</div>
</section>

<!-- Contact Section -->
<section id="download" class="content-section text-center">
	<div class="download-section">
		<div class="container contact-container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Contact Re-connect</h2>
				<p>Feel free to email us for more information about Re-connect, to provide some feedback, to give us suggestions, or to just say hello!</p>
				<p><a href="mailto:not-a-real-email@re-connect.com">not-a-real-email@re-connect.com</a>
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
					</li>
					<li>
						<a href="https://github.com/alenakruchkova/ROCKETMEN.git" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
					</li>
					<li>
						<a href="https://google.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer>
	<div class="container text-center">
		<p>Copyright &copy; Re-connect 2016</p>
	</div>
</footer>


{% endblock %}
